<h4>Item: <%= @item.description%></h4>
<p>Change Due Date:</p>
<%=form_for @item do |f| %>
<%=f.label :due_date %>
<%= f.date_select :due_date %>
<%= f.radio_button(:status, "false")%>
<%= f.label(:false, "Incomplete") %>
<%= f.radio_button(:status, "true")%>
<%= f.label(:true, "Complete") %>
<button>Update</button>
<% end %>